@import 'result.css';
@import 'empty-page.css';
@import 'global.css';
@import 'home.css';
@import 'layout.css';
@import 'projects.css';
@import 'result.css';
@import 'scrollbar.css';
@import 'select.css';
@import 'sidebar.css';
@import 'tableau.css'