*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgb(220, 220, 220);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.selection-table tbody::-webkit-scrollbar,
.iteration-table tbody::-webkit-scrollbar,
.result-table tbody::-webkit-scrollbar,
.iteration-table-wrapper::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
}

.selection-table tbody::-webkit-scrollbar-thumb,
.iteration-table tbody::-webkit-scrollbar-thumb,
.result-table tbody::-webkit-scrollbar-thumb,
.iteration-table-wrapper::-webkit-scrollbar-thumb {
    background: rgb(242, 242, 242); 
    border-radius: 4px;
}

.selection-table tbody::-webkit-scrollbar-thumb:hover,
.iteration-table tbody::-webkit-scrollbar-thumb:hover,
.result-table tbody::-webkit-scrollbar-thumb:hover,
.iteration-table-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}   