/* --- COMPONENT STYLING (Tabs & Toggle Button) --- */
.tabs, 
.sidebar-toggle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px;
    margin: 0px;
    background: linear-gradient(to bottom, var(--primary-color) 0%, var(--primary-variant-color) 100%);
    box-shadow: 0px 4px 10px 1px rgba(0, 8, 0, 0.05);
    list-style-type: none;
    border-radius: 14px;
}

.with-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-toggle:hover {
    cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.tabs li {
    display: flex;
    flex-direction: row;
    height: 48px;
    font: var(--title-14);
}
.tabs li a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;   
    border-radius: 10px;
    padding: 0px 4px;
    gap: 4px;
    fill: white;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease;
}

.tabs li a:not(.active):hover {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.tabs li a.active {
    background: linear-gradient(120deg, #f8c828 0%, #f8c828 40%, #ffd740 60%, #ffe680 70%, #ffd740 80%, #f8c828 90%, #f8c828 100%);
    background-size: 200% 100%;
    animation: shine 5s ease infinite;
    color: var(--black-color);
    fill: var(--black-color);
}

@keyframes shine {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 0%;
    }
}

body.sidebar-collapsed .tabs li a {
    justify-content: center; 
}

.sidebar-toggle {
    width: fit-content;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
}
/* --- COLLAPSE: HIDE TEXT --- */
body.sidebar-collapsed .link-text {
    display: none;
}