.iterations-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iterations-wrapper hr {
    height: 1px;
    border: none;
    background-color: #eaeaea;
}

.iteration-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: var(--box-shadow-color);
    padding: 16px 16px 24px 16px;
    border-radius: 16px;
}

.iteration-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.export-button {
    background: var(--primary-color);
    font: var(--title-12);
    color: white;
    height: 40px;
    width: 136px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(38, 116, 41, 0.128);
}

.iteration-label {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font: var(--title-20);
}

.iteration-count {
    font-size: 12px;
    color: var(--primary-variant-color);
    border: 2px solid var(--primary-variant-color);
    border-radius: 12px;
    padding: 2px 8px;
}

.iteration-tableau-wrapper,
.iteration-solution-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.iteration-tableau-wrapper h4,
.iteration-solution-wrapper h4 {
    font: var(--title-16);
}

.iteration-table-wrapper {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 4px;
    width: 100%;
}

.iteration-table-wrapper table {
    border-collapse: collapse;
    user-select: none;
    min-width: 600px;

}

.iteration-table {
    border-spacing: 0;
    padding: 4px;
    table-layout: auto; 
}

.iteration-table th,
.iteration-table td {
    width: 40px;    
    padding: 4px;
}


.iteration-table th:last-child,
.iteration-table td:last-child {
    max-width: 80px;
    min-width: 40px;
}

.iteration-table thead tr {
    background-color: #6db58122;
    font: var(--title-12);
}

.iteration-table tr {
    height: 28px;
    vertical-align: middle;
    text-align:center;
}

.iteration-table th,
.iteration-table td {
    width: 40px;
}

.iteration-table thead tr th:first-child {
    border-radius: 4px 0px 0px 0px;
}

.iteration-table thead tr th:last-child {
    border-radius: 0px 4px 0px 0px;
}

.iteration-table tbody tr:nth-child(even) {
    background-color: rgb(246, 252, 246);
}