{% extends "base.html" %}

{% block content %}

<div class="home-wrapper">
    <div class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">Build the Dream with Project Green</h1>
            <p class="hero-subtitle">Make data-driven decisions for Green Vale with 30 varieties of mitigation projects using our reliable linear programming solver</p>
            <a href="/download" class="download-button">Learn More</a>
        </div>
    </div>
</div>
{% endblock %}