{% extends "base.html" %}

{% block content %}

<div class="tableau-wrapper">

    {% if iterations %}

    <div id="iterations-section" class="iterations-wrapper">

        {% for iteration in iterations %}
        <div id="iteration-{{ iteration.iteration }}" class="iteration-wrapper">

            <div class="iteration-header">
                <h2 class="iteration-label">
                    Iteration <span class="iteration-count">{{ iteration.iteration }}</span>
                </h2>
                <button class="export-button" onclick="download(this)" id="export-button">Download</button>
            </div>

            <span class="iteration-tableau-wrapper">
                <h4>Tableau</h4>
                <div class="iteration-table-wrapper">
                    <table class="iteration-table">
                        <thead>
                            <tr>
                                {% for label in iteration.tableau[0] %}
                                    <th>{{ label }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in iteration.tableau[1:] %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </span>

            <span class="iteration-solution-wrapper">
                <h4>Basic Solution</h4>
                <div class="iteration-table-wrapper">
                    <table class="iteration-table">
                        <thead>
                            <tr>
                                {% for label in iteration.basicSolution[0] %}
                                    <th>{{ label }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in iteration.basicSolution[1:] %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </span>

        </div>
        {% endfor %}

    </div>

    {% else %}

    <div class="empty-page">
        <img src="{{ url_for('static', filename='images/logo/empty.png') }}" alt="empty" class="empty-image">
        <h1>Oops! Nothing to see here.</h1>
    </div>
    

    {% endif %}

</div>

{% endblock %}