{% extends "base.html" %}

{% block content %}

<div class="tableau-wrapper">
    <!-- tableaus -->
    <div id = "iterations-section" class="iterations-wrapper">
        {% for iteration in iterations %}
        <div id = "iteration-{{iteration.iteration}}" class="iteration-wrapper">
            <h2 class="iteration-label">Iteration <span class="iteration-count">{{iteration.iteration}}</span><hr></h2>
        
            <span class="iteration-tableau-wrapper">
                <h4>Tableau</h4>
                <div class="iteration-table-wrapper">
                    <table class = "iteration-table">
                        <thead>
                        <tr>
                            {% for label in iteration.tableau[0]%}
                                <th>{{ label }}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in iteration.tableau[1:] %}
                            <tr>
                                {% for cell in row%}
                                <td>{{cell}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </span>

            <span class="iteration-solution-wrapper">
                <h4>Basic Solution</h4>
                <div class="iteration-table-wrapper">
                    <table class = "iteration-table">
                        <thead>
                            <tr>
                            {% for label in iteration.basicSolution[0]%}
                                <th>{{ label }}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in iteration.basicSolution[1:] %}
                            <tr>
                                {% for cell in row%}
                                <td>{{cell}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}                      
                        </tbody>
                    </table>
                </div>
            </span>
            
        </div>
            
        {% endfor %}
    </div>
</div>

 

{% endblock %}